<h1>All Contacts</h1>

<div class="container">
	<col>
		<tr>
			<ul>
			  <% Contact.all.each do |contact| %>
			    <ul>Name: <%= contact.first_name %> <%= contact.last_name %> <br> Email: <%= contact.email %> <br> Notes: <%= contact.notes %> <br><br></ul>
			  <% end %>
			</ul>
		</tr>
	</col>
</table>

<input id="delete_button" type="button" value="Delete" onclick="msg()"> <input id="edit_button" type="button" value="Edit" onclick="msg()">





<h4><a href="/contacts/new">Add another contact</a></h4>

