<h1 id="welcome">Welcome to <%= @crm_app_name %>!</h1>
<p id="main">Main menu</p>
<ul id="list">
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a contact</a></li>
  <br>
  Search for a contact <input type="search">
</ul>

