<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<!--This is where I want the content to go // index, gives up control to the file to put output />
<%= yield %>
	
</body>
</html>