<h1>Create a new contact</h1>


<form action="/contacts" method="post">
<ul>
  <li>First name: <input type="text" name="first_name"></li>
  <li>Last name: <input type="text" name="last_name"></li>
  <li>E-mail: <input type="text" name="email"></li>
  <li>Notes: <input type="text" name="note"></li>
  <li><input type="submit" name="Submit"></li>
</form>
</ul>
