<h1 id="new_contact">Create a new contact</h1>


<form action="/contacts" method="post">
<ul>
  <li>
  <label for="first_name">First name:</label>
  <input type="text" id= "" name="first_name" placeholder="e.g. Alon">
  </li>
  <br>

  <li> 
  <label for="last_name">Last name:</label>
  <input type="text" id= "" name="last_name" placeholder="e.g. Jourdan">
  </li>
  <br>

  <li>
  <label for="email">E-mail:</label>
  <input type="text" id= "" name="email" placeholder="e.g. alonjourdan@bitmaker.com">
  </li>
  <br>

  <li>
  <label for="notes">Notes:</label>
  <input type="text" id= "" name="note" placeholder="e.g. Best Guy">
  </li>
  <br>

  <input id="submit" type="submit" name="Submit">
</form>
</ul>
