body {
	background-color: #82A1FF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#footer {
	color: #993333;
	text-align: center;
	font-size: 50%;

}

#main {
	text-align:center;
	font-size: 200%;
}

#welcome {
	color:#8533FF;
	text-align:center; 
}


#list {
	text-align: center;
	list-style-type: none;
}

#list li:hover {
	font-family: "Arial Black", Gadget, sans-serif
}

.navbar-nav :hover {
	font-family: Impact, Charcoal, sans-serif
}

form {
	display: block;
	margin-top: 0em;
}

#submit {
	color:#000000;
	background-color:#005CE6;
}

#delete_button {
	background-color: #EB0000;
	color:#FFFFFF;
}

#edit_button {
	background-color: #009900;
	color:#FFFFFF;
}

#contact_name {
	text-align:left;
	color:#0066FF;
}