

#footer {
	color: #993333;
	text-align: center;
	font-size: 50%;

}

#main {
	text-align:center;
	font-size: 200%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#allc {
	color:#8533FF;
	text-align:center;
	margin-top: 100px;
	margin-bottom: 50px; 
}


#welcome {
	color:#8533FF;
	text-align:center;
	margin-top: 100px;
	margin-bottom: 50px; 
}


#list {
	text-align: center;
	list-style-type: none;
	font-size: 200%;
	font-weight: bold;
}

#list li:hover {
	font-family: "Arial Black", Gadget, sans-serif
}

.navbar-nav :hover {
	font-family: Impact, Charcoal, sans-serif
}

form {
	display: block;
	margin-top: 0em;
}

#new_contact {
	color:#8533FF;
	text-align:center;
	margin-top: 100px;
	margin-bottom: 50px;
}

#submit {
	color:#000000;
	background-color:#005CE6;
}

#delete_button {
	background-color: #EB0000;
	color:#FFFFFF;
}

#edit_button {
	background-color: #009900;
	color:#FFFFFF;
}

#contact_name {
	text-align:left;
	color:#0066FF;
}